@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #ffffff;
    //border-top: 2px solid #ff6200;
}


body,
input,
select,
button {
    font-family: 'Inter', sans-serif;
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
    cursor: pointer;
}

.dark {
    min-height: 100vh;
    background: #1d1e20;
    color: #dadadb;

    .header-bar {
        .account-dropdown {
            background: #1d1e20;
        }

        .search-area .results .film {
            background: #525259;
        }
    }

    .film {
        box-shadow: none;
        border: none;
        background: #383838;

        .status-buttons {
            background: #440c0c;

            &::before {
                color: inherit;
            }
        }
    }
}

a {
    &:link {
        color: inherit;
        text-decoration: none;
    }

    &:visited {
        color: inherit;
        text-decoration: none;
    }

    &:active {
        color: inherit;
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;
    }
}

.header-bar {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .5em;

    .links {
        white-space: nowrap;
        overflow: scroll;
        padding: .5em 0;
        a {
            border-radius: .25em;
            padding: .5em;
            transition: border, border-radius, background .25s ease;

            &:link {
                text-decoration: none;
            }

            &:visited {
                color: inherit;
                text-decoration: none;
            }

            &:active {
                text-decoration: none;
            }

            &:hover {
                text-decoration: none;
                background: #BD0000FF;
                color: white;
            }

            &.active {
                background: #BD0000FF;
                color: white;
                text-decoration: underline;
            }
        }
    }

    a{
        margin: 0 .05em;
        &.login-button {
            padding: .5em;
            color: inherit;
            background: #fff;
            border-radius: .25em;
            border: 1px solid #0778ce;
            font-size: .9em;

            &:hover{
                background: #dde8f1;
            }
        }

        &.signup-button {
            padding: .5em;
            color: #fff;
            background: #0a95ff;
            border-radius: .25em;
            border: 1px solid #0778ce;
            font-size: .9em;

            &:hover{
                background: #0778ce;
            }
        }
    }

    .account-dropdown {
        background: white;
        padding: .5em 1em;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        max-width: 17em;
        width: 100%;

        .name {
            font-weight: bold;
            margin: 0 .5em;
        }

        .username {
            color: #536471;
            margin: 0 .5em;
        }

        img {
            width: 2.5em;
            border-radius: 100%;
        }
    }

    .search-area {
        width: 100%;
        max-width: 45em;
        margin: auto;
        z-index: 2;
        font-size: .9em;

        &:focus-within .results {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
        }

        .results {
            position: absolute;
            max-width: 45em;
            max-height: 50em;
            width: 100%;
            display: none;
            overflow: scroll;
            background: #fff;
            border: solid 1px #ccc;
            border-radius: 4px;

            .film {
                width: 100%;
                background: none;
                box-shadow: none;
                border-radius: 0;

                .film-details .text-details .name .status {
                    display: none;
                }
            }

            .actor{
                width: 100%;
                background: none;
                box-shadow: none;
                border-radius: 0;
                display: flex;
                justify-content: space-between;
                padding: 0.5em 1em;
                a{
                    font-weight: bold;
                }
                img {

                    border-radius: .5em;
                    object-fit: cover;
                    width: 6em;
                    height: 6em;
                    background: #61dafb;
                }
            }
        }

        .search-bar {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            align-items: stretch;
            z-index: 3;

            .category-select {
                display: inline-block;
            }

            .search-input {
                display: inline-block;
                flex: 2 1;
                width: 5em;
            }

            button {
                display: inline-block;
            }
        }
    }
}

.result-item-user {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: start;

    img {
        height: 6em;
    }

    .result-details {
        padding: 0 1em;
    }
}

@media screen and (max-width: 1400px) {
    .header-bar {
        align-items: center;
        justify-content: space-between;

        .links {
            width: 100%;
        }

        .search-area {
            margin: 0;
            width: auto;
            flex: 1 2;
            max-width: none;

            .results {
                max-width: none;
            }
        }

        .account-dropdown {
            padding: 0;
            background: none;
            width: auto;

            .login {
                right: 0;
            }

            .sign-up {
                margin-top: 10em;
            }

            .account-name-username {
                display: none;
            }

            .account-options {
                margin-top: 4.5em;
                width: 5em;
            }
        }
    }

    .account-dropdown {
        align-self: end;
    }

    .actor-page {
        .details {
            justify-content: center;

            .text-details {
                padding-top: 0 !important;

                h1 {
                    text-align: center;
                }
            }
        }

        .headshot {
            margin-top: 1em;
            border-radius: .5em;
        }
    }
}

.films-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1em 1em 5em;

    h2 {
        text-align: center;
    }

    .filter-select {
        width: 100%;
        max-width: 35em;
        margin-bottom: 1em;
    }

    .films {
        display: flex;
        flex-flow: column wrap;
        gap: .5em;
        margin: auto;
        justify-content: center;
    }

    .films-compact {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 1em;

        .film {
            border-radius: .5em;
            flex: 1 2 11em;
            max-width: 12em;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;

            .film-details {
                display: flex;
                flex-flow: column nowrap;

                .text-details {
                    .name {
                        .status {
                            display: block;
                            margin: 0;
                        }
                    }
                }

                img {
                    width: 100%;
                }
            }

            .status-buttons {
                display: flex;
                flex-flow: column wrap;
            }
        }
    }
}

.film {
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    border: 1px solid #e1e1e1;
    background: #FFF;
    border-radius: .5em;

    & > * {
        padding: .5em 1em;
    }

    .film-details {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .text-details {
            button {
                border: 1px solid #536471;
                border-radius: .5em;
                padding: .5em 1em;
                margin: 0 .25em;
            }

            .name {
                font-weight: bold;
                margin: .5em 0;

                .status {
                    background: #5a5c5e;
                    border-radius: 5em;
                    color: #fff;
                    padding: .25em 1em;
                    margin: 0 1em;
                    display: inline-block;
                }
            }

            .overview {
                margin-right: .5em;
                margin-bottom: .5em;
            }
        }

        img {
            border-radius: .5em;
            object-fit: cover;
            width: 6em;
            background: #61dafb;
        }
    }

    .status-buttons {
        background: #e0e0e0;
        width: 100%;

        &::before {
            display: inline-block;
            content: "My Watchlist:";
            color: #282828;
            font-weight: bold;
            margin-right: .5em;
        }

        button {
            background: #fff;
            border: none;
            padding: .5em 1em;
        }

        button:disabled, button[disabled] {
            cursor: default;
            text-decoration: underline;
            background: cadetblue;

            &.plan-to-watch {
                color: #fff;
                background: #BD0000FF;
            }

            &.completed {
                color: #fff;
                background: #099f24;
            }

            &.started {
                color: #fff;
                background: #c4ae24;
            }

            &.rewatching {
                color: #fff;
                background: #2149c2;
            }

            &.dropped {
                color: #fff;
                background: #9f0303;
            }
        }

        button.delete {
            background: #ff0f0f;
            color: white;

            &:hover {
                background: #ed5e68;
            }
        }
    }
}

.watchlist-film {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
    background: #f6f6f6;
    min-width: 15em;
    box-shadow: rgba(0, 0, 0, 0.1) 0 5px 15px -6px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

    img {
        width: 5em;
        height: inherit;
        object-fit: cover;
    }

    .details {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        padding: .5em .5em .5em 0;

        .text-details {
            .name {
                font-weight: bold;
            }
        }
    }
}
.status-buttons {
    button {
        background: #EEEEEE;
        padding: .5em;
        border: none;
        border-radius: .25em;
        margin: .1em;

        &:hover {
            color: #fff;
            background: #007a35;
        }
        &.delete:hover{
            color: #fff;
            background: #ff0f0f;
        }
    }

    button:disabled, button[disabled] {
        color: #fff;
        background: #007a35;
        text-decoration: underline;
    }
}
.home {
    h1 {
        text-align: center;
    }
}

.trending-films {
    width: 100%;
    padding: 0 1em 5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    margin: auto;
    gap: .5em;

    .trending-film-container {
        flex: 1 2 20em;
        border-radius: .5em;

        .trending-film {
            .name {
                font-weight: bold;
            }

            a {
                width: inherit;
            }

            img {
                width: 100%;
                object-fit: cover;
                border-radius: .5em;
            }
        }

        &:hover {
            img {
                box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            }
        }
    }
}

.full-show-details {
    max-width: 100em;
    padding: 0 1em 5em;
    margin: 1em auto 0;

    .show-details {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        img {
            background: #e9e9ed;
            display: inline-block;
            max-height: 30em;
        }

        .text-details {
            height: inherit;
            align-self: stretch;
            color: white;
            flex: 1 1 5em;
            padding: 1em 1em;
            min-width: 20em;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;

            .overview {
                max-width: 50em;
            }
        }
    }

    button.toggle-full-cast {
        text-decoration: underline;
        border: none;
        padding: .5em 1em;
        border-radius: .5em;
        margin: 0 1em;
    }

    .credits {
        display: flex;
        flex-flow: row wrap;

        .cast-member {
            flex: 1 2 10em;
            max-width: 11em;
            display: flex;
            flex-flow: column nowrap;

            img {
                display: inline-block;
                height: auto;
                background: #e9e9ed;
                width: 100%;
            }

            .name {
                padding: 0 .5em;
            }
        }
    }

    .seasons {
        display: flex;
        flex-flow: row wrap;

        .season {
            flex: 1 2 10em;
            max-width: 11em;

            img {
                height: auto;
                width: 100%;
            }
        }
    }

    .selected-season{
        .season{
            min-height: 10em;
            height: 10em;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;

            img{
                display: inline-block;
            }
            .info{
                max-width:70em;
                padding: 1em 2em;
                overflow: clip;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .full-show-details {
        .selected-season {
            .season {
                height: auto;
                display: block;

                img {
                    width: 100%;
                    max-height: 25em;
                    display: block;
                    object-fit: cover;
                }

                .info {
                    padding: 1em;
                }
            }
        }
    }
}

.account-page {
    h1 {
        text-align: center;
    }

    .account-details-section {
        margin: auto;
        max-width: 60em;

        .current-avatar {
            img {
                display: inline-block;
            }
        }

        img {
            width: 10em;
        }
    }
}

.user-page {
    max-width: 45em;
    margin: auto;
    padding: 1em;

    .banner {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        background: #625fd2;
        background-size: cover;

        h1 {
            color: #fff;
            margin: auto;
            display: inline-block;
            text-align: center;
        }

        img {
            height: 10em;
        }
    }

    .filter-select {
        width: 100%;
        max-width: 45em;
        margin-bottom: 1em;
    }

    .films {
        display: flex;
        flex-flow: column nowrap;
        row-gap: .5em;
        max-width: 45em;
    }

    .films-compact {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 1em;

        .film {
            border-radius: .5em;
            flex: 1 2 15em;
            max-width: 17em;

            .status-buttons {
                display: flex;
                flex-flow: column wrap;
            }
        }
    }
}

.actor-page {
    margin: auto;
    max-width: 100em;
    padding: 2em 1em 5em;

    .details {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        background: #f6f6f6;


        .text-details {
            padding: 2em;
            max-width: 65em;

            h2 {
                display: inline-block;
            }
        }

        .headshot {
            text-align: center;
            height: 30em;
        }
    }

    .credits {
        display: flex;
        flex-flow: row wrap;
        gap: .5em;


        h2 {
            width: 100%;
        }

        .credit {
            border-radius: .5em;
            overflow: hidden;
            flex: 1 2 10em;
            width: 11em;

            .poster {
                width: 100%;
            }

            .title {
                font-weight: bold;
            }
        }
    }
}

.login-signup{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 40vh;

    & > * {
        box-shadow: rgba(0, 0, 0, 0.05) 0 10px 24px 0, rgba(0, 0, 0, 0.05) 0 20px 48px 0, rgba(0, 0, 0, 0.1) 0 1px 4px 0;

    }
}